.manage-koi-page {
  display: flex;
  justify-content: space-between; // or `center`, `flex-start` based on your need
  flex-wrap: wrap; // Wrap to the next line if there are too many cards
  gap: 40px; // Adds spacing between cards, you can adjust the value
  padding: 25px;
  height: 100vh;

  .manage-koi-card-link {
    text-decoration: none; // Removes underline from the link
    flex: 1;
  }

  .manage-koi-card {
    text-decoration: none;
    height: 300px;
    color: white;
    flex: 1; // Makes all cards equal in width
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(95, 91, 91, 0.764); // Optional, adds some shadow effect
    background-color: rgb(180, 0, 0); // Background color for the card
    border-radius: 20px; // Optional, rounds the corners of the cards
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.63); // Add a stronger shadow on hover
      border-color: #000101; // Change border color on hover
    }

    .manage-koi-logos {
      width: 105px;
    }

    .manage-koi-text {
      text-decoration: none;
      color: white;
    }
  }
}
